<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/createuser" method="post">
        <input type="text" placeholder="Enter Fullname" name="fullname">
        <input type="text" placeholder="Enter username" name="username">
        <input type="email" name="email" id="" placeholder="Enter Email">
        <input type="password" name="password" placeholder="Enter Password">
        <input type="submit" value="Create User">
    </form>
</body>
</html>