<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <a href="/createuser">Create a new User</a>
    <p>Already a user ? <a href="/login">Login</a></p>
  </body>
</html>
